{% extends 'pages/base.jinja' %}

{% block title %}
    Page not found
{% endblock %}

{% block content %}
    <h2>Huh?</h2>

    <p>It seems you've stumbled onto my page...</p>

    <p>Ummm...</p>

    <p>You'll have to excuse me, it's been a while since I've had guests...</p>

    <p>Well, make yourself at home.</p>

    <p>
        <a href="/" role="button">Or would you like me to take you back to the home page?</a>
    </p>
{% endblock %}