{% extends 'pages/base.jinja' %}

{% block title %}
    Flask Demo - About
{% endblock %}

{% block content %}
    <h2>Cool Thing</h2>

    <p>This is a thing that is very cool.</p>

    <h2>Interesting Object</h2>

    <p>A very intrigueing sight.</p>
{% endblock %}