{% extends 'pages/base.jinja' %}

{% block title %}
    Flask Demo - Hello!
{% endblock %}

{% block content %}
    <h1>Here's some content</h1>

    <p>Wow! Awesome content! It's so content-y! Now with 36% more content!</p>
{% endblock %}