{% extends 'pages/base.jinja' %}

{% block title %}
    Flask Demo - Here is your number!
{% endblock %}

{% block content %}
    <h2>Your number is:</h2>

    <article id="random">
        {{ number }}
    </article>
{% endblock %}